body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    
    background-color: rgb(32, 37, 61);
    background-image: 
    url('/images/dgnight.jpg'),
    linear-gradient(to bottom right,#002f4b,#dc4225);
    /* opacity: .6;  */
    /* radial-gradient(
        #c40e63,
      rgb(22, 20, 156)); */
    background-size: cover;
    color: rgb(179, 179, 179);
    /* font-family: 'Rock Salt', cursive; */
   
        
      
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00831c;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: rgb(12, 238, 50);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #6a15f369;
  }
  
  tbody tr:nth-child(even) {
    background-color: #c643ee69;
  }
  
  tbody tr {
    /* background-image: url(noise.png); */
  }
  
  li{
    background-color: #6a15f39f;
  }

  table {
    /* margin-left: 30px; */
    background: linear-gradient(to right, #d110b1,#101dcc);
  }
  .burger:hover {
    background-color: #AD35BA;
  }


